@charset "utf-8";

h1 {
    color: #B71B26;
    font-family: 'Jost', sans-serif;
    font-size: 35px;
}

.hero2 {
    margin-top: 50px;
    margin-bottom: 200px;
    background-color: #D9D9D9;
}

.hero3 {
    margin-top: 50px;
    margin-bottom: 200px;
    background-color: #D9D9D9;
}

/* メニューアイコンを画面右上に固定しています */
.gMenu {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    padding-top: 5px;
    height: 12px;
}

li:hover {
    mix-blend-mode: difference;
    filter: invert();
}

h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.subTitle {
    text-align: center;
    margin-bottom: 50px;
    color: #223E69;
}

h3 {
    font-weight: bold;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Playfair Display', serif;
}

.SERVICE {
    margin-top: 200px;
}

.cont-3 {
    background-color: rgba(34, 62, 105, 0.05);
}

.sekou {
    color: #B71B26;
}

.cont-4 {
    text-align: center;
}

.Q-1 {
    background-color: #333333;
    border-radius: 50%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    text-align: center;
}

.A-1 {
    background-color: #B71B26;
    border-radius: 50%;
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    text-align: center;
}

.Q-2 {
    width: 700px;
}

.A-2 {
    width: 700px;
}

.QA {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.bg-2 {
    background-color: rgba(34, 62, 105, 0.15);
}

.bg-1 {
    background-color: rgba(255, 255, 255, 0.5);
}

.hissu {
    background-color: #B71B26;
    border-radius: 8%;
    color: #FFFFFF;
}

.kakunin {
    text-align: center;
    background-color: #333333;
    color: #FFFFFF;
}

.arrow6:hover {
    color: #223E69;
}

footer {
    background-color: #333333;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width:640px) {
    .hero2 {
        display: none;
    }

    li {
        background-color: #FFFFFF;
        padding: 15px 0;
        text-align: center;
        font-size: 25px;
    }

    .list-1-2-3 {
        text-align: center;
    }

    .list-p {
        width: 362.5px;
    }

    .moreBtn {
        display: flex;
        justify-content: flex-end;
    }

    .list {
        text-align: center;
    }

    .flow {
        background-color: #333333;
        color: #FFFFFF;
        font-size: 35px;
        border-radius: 50px;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 0 100px;
        margin: 0 10px;
    }

    .arrow1 {
        color: rgba(183, 27, 38, 0.6);
        font-size: 50px;
        text-align: center;
        transform: rotate(90deg);
    }

    .arrow2 {
        color: rgba(183, 27, 38, 0.7);
        font-size: 50px;
        text-align: center;
        transform: rotate(90deg);
    }

    .arrow3 {
        color: rgba(183, 27, 38, 0.8);
        font-size: 50px;
        text-align: center;
        transform: rotate(90deg);
    }

    .arrow4 {
        color: rgba(183, 27, 38, 0.9);
        font-size: 50px;
        text-align: center;
        transform: rotate(90deg);
    }

    .arrow5 {
        color: rgba(183, 27, 38, 1);
        font-size: 50px;
        text-align: center;
        transform: rotate(90deg);
    }

    .arrow6 {
        background-color: #333333;
        color: #FFFFFF;
        position: fixed;
        bottom: 0;
        left: 300px;
        font-size: 40px;
    }

    .gMenu {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    /* メニューアイコンを画面右上に固定しています */
    .gMenu .menu-icon {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 12px;
        padding-top: 5px;
        height: 12px;
    }

    /* メニューアイコン（三本線）の真ん中の線です */
    .gMenu .menu-icon .navicon {
        background: #B71B26;
        /* 色は自由に変更可能です */
        display: block;
        height: 2px;
        /* 太さ */
        width: 31px;
        /* 長さ */
        position: relative;
        transition: background .4s ease-out;
        /* 形が変わる時のアニメーション */
    }

    /* メニューアイコン（三本線）の上と下の線を疑似要素で追加 */
    .gMenu .menu-icon .navicon::before,
    .gMenu .menu-icon .navicon::after {
        background: #B71B26;
        /* 色は自由に変更可能です */
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .4s ease-out;
        /* 形が変わる時のアニメーション */
        width: 100%;
    }

    .gMenu .menu-icon .navicon::before {
        top: 10px;
    }

    /* 位置を上にずらしています */
    .gMenu .menu-icon .navicon::after {
        top: -10px;
    }

    /* 位置を下にずらしています */
    /* 表示されるメニューです */
    .gMenu .menu {
        background-color: rgba(255, 255, 255, 0.9);
        overflow: hidden;
        max-height: 0;
        /* ★最初は高さを0にして非表示状態に */
        transition: max-height .6s;
        /* 表示されるときのアニメーション */
        text-align: center;
    }

    /* メニュー部分のデザインです */
    .gMenu .menu li:first-of-type {
        padding-top: 50px;
    }

    .gMenu .menu li a {
        display: block;
        padding: 24px 20px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .gMenu .menu li a:hover {
        background-color: #f4f4f4;
    }

    /* チェックボックスは常に非表示です */
    .gMenu .menu-btn {
        display: none;
    }

    /* ▼▼▼以下はチェックボックスがONの時の状態です▼▼▼ */
    .gMenu .menu-btn:checked~.menu {
        max-height: 600px;
        /* ★チェックボックスがオンの時高さを338pxにして表示させます */
        transition: max-height .6s;
    }

    /* メニューボタンの中央の線を非表示に */
    .gMenu .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }

    /* メニューボタンの上下の線を45度傾けて✕印を作ります */
    .gMenu .menu-btn:checked~.menu-icon .navicon::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .gMenu .menu-btn:checked~.menu-icon .navicon::after {
        transform: rotate(45deg);
        top: 0;
    }
}

@media screen and (min-width:640px) {
    .hero3 {
        display: none;
    }

    ul {
        display: flex;
    }

    li {
        width: 125px;
        background-color: #FFFFFF;
        padding: 15px 0;
        text-align: center;
    }

    .menu-btn {
        display: none;
    }

    .list-1-2-3 {
        text-align: center;
        display: flex;
    }

    .list-p {
        width: 362.5px;
        margin: 0 40px;
    }

    .moreBtn {
        display: flex;
        justify-content: flex-end;
        margin: 20px 0 300px;
        width: 400px;
    }

    .list {
        display: flex;
        justify-content: center;
    }

    .flow {
        background-color: #333333;
        color: #FFFFFF;
        font-size: 35px;
        border-radius: 50px;
        height: 400px;
        width: 62.5px;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .arrow1 {
        color: rgba(183, 27, 38, 0.6);
        font-size: 50px;
        display: flex;
        align-items: center;
    }

    .arrow2 {
        color: rgba(183, 27, 38, 0.7);
        font-size: 50px;
        display: flex;
        align-items: center;
    }

    .arrow3 {
        color: rgba(183, 27, 38, 0.8);
        font-size: 50px;
        display: flex;
        align-items: center;
    }

    .arrow4 {
        color: rgba(183, 27, 38, 0.9);
        font-size: 50px;
        display: flex;
        align-items: center;
    }

    .arrow5 {
        color: rgba(183, 27, 38, 1);
        font-size: 50px;
        display: flex;
        align-items: center;
    }

    .arrow6 {
        background-color: #333333;
        color: #FFFFFF;
        position: fixed;
        bottom: 0;
        left: 1200px;
        font-size: 40px;
    }

    .hissuBr {
        display: none;
    }
}