@charset "UTF-8";

body {
    background-color: darkslateblue;
}

h1 {
    color: tomato;
    font-size: xx-large;
    margin: 15px auto;
    text-align: center;
}

.jikoshoukai {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border: solid 5px deeppink;
    background-color: midnightblue;
}

.creation {
    width: 650px;
    margin: 0 auto;
}

h2 {
    color: forestgreen;
    font-size: x-large;
}

p {
    color: darkgoldenrod;
}

#id_origin_0 {
    display: none;
}

.origin {
    border: solid 5px forestgreen;
    background-color: brown;
    padding: 10px;
}

.clear,
.link {
    color: cadetblue;
}

.clear:hover,
.link:hover {
    text-decoration: underline;
}

.addForm {
    width: 500px;
    margin: 100px auto;
}

input[type="text"],
textarea {
    background-color: white;
    border: solid 3px silver;
    width: 400px;
}

#information {
    height: 100px;
}

#add {
    background-color: white;
    margin: 0 435px;
}